
.card-presentation {

  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: relative;
  width: 100%;
  margin-bottom: 10px;

  .hidden {
    opacity: 0.5;
  }

  & > .left-btn {
    padding: 15px;
    flex-basis: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & > .right-btn {
    padding: 15px;
    flex-basis: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .card-viwer {
    transition: transform 1s;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;

    &.card-viwer--flipped {
      transform: rotateY(180deg);
    }

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      &.content--front {
      }

      &.content--back {
        transform: rotateY(180deg);
      }
      &:after {

      }

      &:before {

      }
    };
  }
}